@page
@model Bank.Pages.Deposits.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Вклад</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Deposit.DepId" />
            <div class="form-group">
                <label asp-for="Deposit.DepName" class="control-label"></label>
                <input asp-for="Deposit.DepName" class="form-control" />
                <span asp-validation-for="Deposit.DepName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposit.MinDepTern" class="control-label"></label>
                <input asp-for="Deposit.MinDepTern" class="form-control" />
                <span asp-validation-for="Deposit.MinDepTern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposit.MinDepAmount" class="control-label"></label>
                <input asp-for="Deposit.MinDepAmount" class="form-control" />
                <span asp-validation-for="Deposit.MinDepAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposit.AddCond" class="control-label"></label>
                <input asp-for="Deposit.AddCond" class="form-control" />
                <span asp-validation-for="Deposit.AddCond" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposit.InRate" class="control-label"></label>
                <input asp-for="Deposit.InRate" class="form-control" />
                <span asp-validation-for="Deposit.InRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposit.CurId" class="control-label"></label>
                <select asp-for="Deposit.CurId" class="form-control" asp-items="ViewBag.CurId"></select>
                <span asp-validation-for="Deposit.CurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
