@page
@model Bank.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Сотрудник</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.EmId" />
            <div class="form-group">
                <label asp-for="Employee.FullName" class="control-label"></label>
                <input asp-for="Employee.FullName" class="form-control" />
                <span asp-validation-for="Employee.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Adress" class="control-label"></label>
                <input asp-for="Employee.Adress" class="form-control" />
                <span asp-validation-for="Employee.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Telephone" class="control-label"></label>
                <input asp-for="Employee.Telephone" class="form-control" />
                <span asp-validation-for="Employee.Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Age" class="control-label"></label>
                <input asp-for="Employee.Age" class="form-control" />
                <span asp-validation-for="Employee.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Gender" class="control-label"></label>
                <input asp-for="Employee.Gender" class="form-control" />
                <span asp-validation-for="Employee.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.PosId" class="control-label"></label>
                <select asp-for="Employee.PosId" class="form-control" asp-items="ViewBag.PosId"></select>
                <span asp-validation-for="Employee.PosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
