@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<body>
    <div class="text-center">
        <h1 class="display-4" style="color: saddlebrown">Веб-приложение "РосГарантБанк" </h1> <br> <br>
        <p style="color: dimgray">Приложение содержит информацию о клиентах и сотрудниках банка.<br> Перейдите по любой из ссылок, представленных ниже, и введите данные.</p> <br> <br>
        <h1 class="display-4"><a href="https://localhost:44325/Positions" style="color: saddlebrown; text-decoration: none;">Должности</a></h1>
        <p style="color: lightgrey"> >———————< </p>
        <h1 class="display-4"><a href="https://localhost:44325/Employees" style="color: saddlebrown; text-decoration: none;">Сотрудники компании</a></h1>
        <p style="color: lightgrey"> >———————< </p>
        <h1 class="display-4"><a href="https://localhost:44325/Depositors" style="color: saddlebrown; text-decoration: none;">Вкладчики</a></h1>
        <p style="color: lightgrey"> >———————< </p>
        <h1 class="display-4"><a href="https://localhost:44325/Deposits" style="color: saddlebrown; text-decoration: none;">Вклады</a></h1>
        <p style="color: lightgrey"> >———————< </p>
        <h1 class="display-4"><a href="https://localhost:44325/Currencies" style="color: saddlebrown; text-decoration: none;">Курс валюты</a></h1>
        <br><br><br><br><br><br>s
    </div>
</body>
