@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<body>
    <div class="text-center">
        <h1 class="display-4" style="color: saddlebrown">Веб-приложение "РосГарантБанк" </h1> <br> <br>
        <p style="color: dimgray">Приложение содержит информацию о клиентах и сотрудниках банка.</p>
    </div>
</body>
