@page
@model Bank.Pages.FilReq.Filter.EmployeeFilterModel
@{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employee[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee[0].Pos)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employee)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Model.Position.PosName
                </td>
            </tr>
            }
        </tbody>
    </table>
}
